<div class="row">
    <div class="col-md-9">
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="send">
                OK
            </button>
            <button type="button" class="btn btn-default" id="peek">
                Peek a tile
            </button>
            <button type="button" class="btn btn-default" id="reset">
                Reset changes
            </button>
        </div>
        <br/></br>
        <div id="tiles"></div>
        <div id="sets"></div>
    </div>
    <div class="col-md-3">
        <div class="btn-group">
            <button type="button" class="btn btn-default" id="ready">
                <span class="glyphicon glyphicon-new-window"></span>
                I'm ready!
            </button>
            <button type="button" class="btn btn-default" id="quit">
                <span class="glyphicon glyphicon-log-out"></span>
                Quit room
            </button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr><th colspan="2">Players</th></tr>
            </thead>
            <tbody id="room-players-list"/>
        </table>
    </div>
</div>